*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#timer-setup{
    border: 3px solid red;
    float: left;
    width: 25%;
    text-align: center;
}

#timer-setup form{
    border: 5px double black;
}

input{
    margin: 5px;
    padding: 2px;
    width: 50px;
}

#main-desc{ 
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid red;
    width: 50%;
    clear: both;
    text-align: center;
}

#main{
    border: 3px solid blue;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    clear: both;
    text-align: center;
}


#desc{
    border: 3px solid red;
    width: 25%;
    float: right;
    text-align: center;
}

